@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
@import "./node_modules/bootstrap/scss/bootstrap";


.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.card {
    min-height: 200px !important;
    min-width: 300px !important;
  }
  
  .custom-navbar {
    @extend .navbar;
    @extend .navbar-expand-md;
    @extend .navbar-dark;
    background-color: black;
  }
  
  .profile-picture {
    @extend .img-fluid;
    @extend .rounded-circle;
    width: 50%;
  }

  .biography-card {
    @extend .bg-dark;
    @extend .text-light;
    @extend .pt-5;
    @extend .pb-3;
    @extend .text-center;
  }

  .custom-row {
    @extend .row;
    @extend .text-center;
    @extend .justify-content-center;
    @extend .g-4;
  }

  .custom-col {
    @extend.col;
    @extend .col-sm-6;
    @extend .col-md-6;
    @extend .col-lg-4;
  }

  .custom-card {
    @extend .card;
    @extend .bg-dark;
    @extend .text-light;
    
  }
  
  .icon-container-card {
    @extend .h1;
    @extend .mb-3;
    @extend .pt-4;
  }

  .h1-title {
    @extend .text-center;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  .custom-accordion-bg {
    background-color: #d5dadf !important;
  }

  /*.icon-container {
    background-color: black;
    min-height: 150px !important;
    min-width: 150px !important;
    height: 100px !important;
    width: 100px !important;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding:30px; 
  }*/